# Can increase to 7
CONFIG_LOG_DEFAULT_LEVEL=3
# Can increase to 7
CONFIG_LOG_MAX_LEVEL=3
# CONFIG_DEBUG_UART_STM32=y
# CONFIG_DEBUG_UART=y
# CONFIG_DEBUG_DRIVER=y
# CONFIG_DEBUG_DEVRES=y
CONFIG_LOGF_FILE=y
CONFIG_LOGF_LINE=y
CONFIG_LOGF_FUNC=y
CONFIG_LOG=y
CONFIG_DEBUG=y
CONFIG_DEBUG_INFO=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_DM_USB_GADGET=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_IS_IN_MMC=n
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="board/st/stm32mp1/uboot.env"
CONFIG_EFI_LOADER=n
